<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Preferences.SiteName</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">@Preferences.SiteName</a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav nav-bordered">
                    <li class="@(ViewBag.ActiveMenuItem == "Users" ? "active" : null)"><a asp-controller="Home" asp-action="Index">Users</a></li>
                    <li class="@(ViewBag.ActiveMenuItem == "Report" ? "active" : null)"><a asp-controller="Home" asp-action="Report">Report</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr class="m-t-lg" />
        <footer>
            <p>&copy; 2015 - @Preferences.SiteName</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/js/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
    </environment>
    <script src="~/js/angular.js" asp-append-version="true"></script>
    <script src="~/js/angular-resource.js" asp-append-version="true"></script>
    <script src="~/js/focusif.js" asp-append-version="true"></script>
    <script src="~/js/phantomnet-resource.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
